# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual environments
venv/
env/
.venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/

# Data folders (optional, if you don't want large data in git)
data/raw/
data/processed/

# Reports and figures (optional)
reports/figures/
reports/summaries/

# Docker-related
*.log
docker-compose.override.yaml
